

.endBanner {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* As screen get bigger, there is a padding, but in a smaller screen, its fitting to the screen */
    max-width: 30rem;
    margin: 2rem auto;
    padding: 2rem auto;
    /* background-color: white; */
  }
  
  /* defualt is horizontal , here the  */
  .flex-horizontal {
    display: flex;
    flex-direction:row;
  }
 
/* BUTTONS */
.topbtn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color:#cc6600;
    background-color: white;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 25px 5rem;
    color : #cc6600;
    box-shadow: 2px 3px 10px 
  }
  