.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 90%;
    font-size: 1.5rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
    max-width: 80rem;
    max-height:50%;
    margin: .5rem auto;
    padding: .5rem;    
  }

  .container {
    height:fit-content
  }
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #cc6600;
    color: white;
  }
  
  .choice-text {
    padding: 1rem;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
  }

  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }


  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }


  /* HUD */

#hud {
    display: flex;
    justify-content: space-between;
    font-family:'Times New Roman', Times, serif
  }
  
  .hud-prefix {
    text-align: center;
    font-size:medium
  }
  
  .hud-main-text {
    text-align: center;
    color:#cc6600;
    font-size: 2rem;
  }
  /* Score format*/
  h1 {
    margin-bottom: 3rem;
  }
  /* The question format */
  h3 {
    text-align: left;
    color:black;
    font-size:medium
  }

#progressBar {
    width: 10rem;
    height: 2rem;
    border: 0.3rem solid #cc6600;;
    margin-top: .5rem;
  }
  
  #progressBarFull {
    height: 1.5rem;
    background-color: #cc6600;;
    width: 0%;
  }

  .hide {
    display: none;
  }
  
  .btn.correct {
    background-color: #6b8e23;
  }
  
  .btn.wrong {
    background-color: #aaaaaa;
  }

  #rightAns {
    display: flex;
    font-size: 2rem;
    font-style: italic;
    flex-wrap: wrap;
    text-align: center;
    opacity: 0;
    color:#28a745
  }
  #wrongAns {
    display: flex;
    font-size: 2rem;
    font-style: italic;
    flex-wrap: wrap;
    text-align: center;
    opacity: 0;
    color: #dc3545;
  }